.container{
    width: 900px;
    margin: 0 auto;
}

.container-fluid{
    width: 100%;
}

[class*="flex"]{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-wrap{
    flex-wrap: wrap;
}

.image-responsive {
    width: 100%;
    height: auto;
    max-width: 400px;
}

.image-rounded{
    border-radius: 50%;
}

.align-center{
    align-items: center;
}

.justify-between{
    justify-content: space-around;
}