.container{
    width: 900px;
    margin: 0 auto;
}

.container-fluid{
    width: 100%;
}

[class*="flex"]{
    display: flex;
}

flex-column{
    flex-direction: row;
}


.image-responsive {
    width: 100%;
    height: auto;
    max-width: 400px;
}

.image-rounded{
    border-radius: 50%;
}