:root{
    --base: #082032;
    --second: #2C394B;
    --third: #334756;
    --fourth: #FF4C29;
    --text: #f2f2f2;
}

body{
    background-color: var(--base);
    color: var(--text);
    font-family: "Merriweather  ";
}

h1{
    font-size: 64px;
}

section{
    padding: 20px 0;
}


.hero-container{
    position: relative;
}
.hero:before{
    content: "";
    display: block;
    width: 50%;
    height: 150%;
    background-color: var(--second);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%,40%);
}
.hero > *{
    z-index: 1;
}
.hero > .text-container{
    width: 70%;
    padding: 0 0 0 10px;
}
.hero > .text-container > .title{
    margin-bottom: 20px;
}
.hero > .text-container > .description{
    line-height: 1.3;
    font-family: "poppins";
}

.quote-container{
    position: relative;
}
.quote > .text-container{
    width: 70%;
    padding: 0 10px 0 10;
}
.quote > *{
    z-index: 1;
}
.group-quote{
    font-size: 48px;
    padding: 5px;
}
.group-quote > .block-quote{
    background-color: var(--fourth);
    padding: 5px;
}
/* .quote::after{
    content: url(../assets/images/greek-god-hand.png);
    width: 100%;
    display: block;
    position: absolute;
    top: 200px;
    left: 0;
    transform: rotate(-20deg);
} */

.education-container{
    position: relative;
}
.education > *{
    z-index: 1;
}
.education:before{
    content: "";
    display: block;
    width: 70%;
    height: 100%;
    background-color: var(--third);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(43%, 0);
}
.education-title{
    font-size: 50px;
}
.education > .text-container{
    width: 70%;
    padding-left: 10px;
}
.group-education{
    margin-bottom: 20px;
    line-height: 1.5;
}
.group-education > .institute{
    font-size: 24px;
}
.group-education > .description, .activities, .date{
    font-family: "poppins";
    font-size: 16px;
}


.experience-title{
    font-size: 50px;
    text-align: right;
}
.group-experience{
    margin-bottom: 20px;
    width: 70%;
}
.group-experience > .title{
    font-size: 24px;
    margin-bottom: 5px;
}
.group-experience > .description{
    font-family: "poppins";
    font-size: 16px;
    line-height: 1.15;
}
.group-experience > .company{
    line-height: 1.15;
    padding: 10px;
    border: 2px solid #fff;
    margin: 10px 0 5px;
    border-radius: 15px;
    font-family: "poppins";
}

