:root{
    --base: #082032;
    --second: #2C394B;
    --third: #334756;
    --fourth: #FF4C29;
    --text: #f2f2f2;
}

body{
    background-color: var(--base);
    color: var(--text);
    font-family: "Merriweather  ";
}

h1{
    font-size: 50px;
}
h2{
    font-size: 45px;
}

section{
    padding: 20px 0;
}
.btn{
    background-color: var(--fourth);
    color: var(--base);
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-family: "poppins";
}
.btn:hover{
    background-color: var(--second);
    color: var(--fourth);
    transition: .7s;
}


.hero-container{
    position: relative;
}
.hero:before{
    content: "";
    display: block;
    width: 50%;
    height: 125%;
    background-color: var(--second);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%,20%);
}
.hero > *{
    z-index: 1;
}
.hero > .text-container{
    width: 70%;
    padding: 0 0 0 20px;
}
.hero > .text-container > .title{
    line-height: 1.25;
    margin-bottom: 20px;
}
.hero .text-container .description{
    line-height: 1.5;
    font-family: "poppins";
    width: 55%;
}
.hero .text-container .open-quote{
    font-weight: 600;
    width: 30%;
}
.quote-container{
    position: relative;
    margin-bottom: 100px;
}
.quote > .text-container{
    width: 60%;
    padding: 0 10px 0 10;
}
.quote > .text-container > .title{
    line-height: 1.25;
    margin-bottom: 20px;
}
.quote .text-container .description{
    margin-top: 25px;
    line-height: 1.5;
    font-family: "poppins";
}
.quote > *{
    z-index: 1;
}
.group-quote{
    font-size: 48px;
    padding: 5px;
}
.block-quote{
    background-color: var(--fourth);
    padding: 5px;
}

.education-container{
    position: relative;
    margin-bottom: 100px;
}
.education > *{
    z-index: 1;
}
.education-title{
    font-size: 50px;
    margin-bottom: 50px;
    position: relative;
}
.education-title::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    background-color: var(--third);
}
.education > .text-container{
    width: 70%;
    padding-left: 20px;
}
/* .education:before{
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    background-color: var(--third);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(100%, 0);
} */
.group-education{
    margin-bottom: 45px;
    line-height: 1.5;
}
.group-education > .institute{
    font-size: 24px;
}
.group-education > .description, .activities, .date{
    font-family: "poppins";
    font-size: 16px;
}
.group-education > .date{
    font-size: 14px;
    display: inline-block;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-top: 5px;
}

.experience-container{
    margin-bottom: 100px;
}
.experience-title{
    font-size: 50px;
    margin-bottom: 50px;
    position: relative;
    text-align: right;
}
.experience-title::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    background-color: var(--third);
}
.experience .text-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.group-experience{
    margin-bottom: 30px;
    width: 45%;
    margin: 0 auto 30px;
}
.group-experience > .title{
    font-size: 24px;
    margin-bottom: 5px;
}
.group-experience > .description{
    font-family: "poppins";
    font-size: 16px;
    line-height: 1.15;
}
.group-experience > .company{
    line-height: 1.15;
    padding: 10px;
    border: 2px solid #fff;
    margin: 10px 0 5px;
    border-radius: 15px;
    font-family: "poppins";
}


.project-title{
    font-size: 50px;
    margin-bottom: 50px;
    position: relative;
}
.project-title::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    background-color: var(--third);
}
.project-container{
    margin-bottom: 100px;
}
.project{
    flex-wrap: wrap;
}
.project-group{
    text-align: center;
    border: 1px solid #f2f2f2;
    width: 40%;
    padding: 30px 20px;
    margin: 20px;
    border-radius: 10px;
}
.project-group > .text-container > .title{
    font-size: 24px;
    margin: 15px 0 10px;
}
.project-group > .text-container > .description{
    font-family: "poppins";
    font-size: 16px;
    margin-bottom: 25px;
}  

.footer{
    background-color: var(--second);
    padding: 10px;
    border-radius: 10px;
}

